  .contact-container {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;  */
    min-height: 250px;
    min-width: 350px;
  }


  .contact {
    /* display: flex; */
    /* flex-direction: row; */
    /* align-items: center;  */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    margin: 20px;
    min-height: 200px;
    /* min-width: 400px; */
  }

  .contact-display {
    display: flex;
    flex-direction: row; 
    align-items: center;
  }
  
  .picture {
    margin-right: 20px;
  }

  .contact-name {
    font-weight: 550;
    font-size: 115%;
  }
  
  .picture-frame {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  .picture-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .picture-job-title {
    font-size: 16px;
    font-weight: 500;
    color: #555;
    text-align: center;
    margin: 0;
  }
  
  .details {
    flex: 1;
  }
  
  .details-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
  }
  
  
  .details-value {
    flex: 2;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    text-align: left;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: 10px;
    justify-content: flex-end
  }
  

  .button-edit, .button-delete {
    margin: 5px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 250px;
  }

  .button-new {
    padding: 10px;
  }

  .contacts-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    background-color: #002aff2c;
    /* background-color: #e8ecff2c; */
    align-items: center;

  }
  
  @media  (max-width: 1100px) {
    .contacts-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .form {
    padding: 10px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 10px;
  }
  
  .buttons-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
  
  .form-control {
    width: 100%;
  }
  
  .btn {
    margin-right: 10px;
  }
  